name: Deploy (Ansible)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TF_DIR: infra
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform init
        run: terraform -chdir=$TF_DIR init

      - name: Get instance IP
        id: tf_output
        run: |
          echo "instance_ip=$(terraform -chdir=$TF_DIR output -raw instance_public_ip)" >> $GITHUB_OUTPUT

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip install ansible

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Create inventory file
        run: |
          echo "[imc_hosts]" > inventory.ini
          echo "${{ steps.tf_output.outputs.instance_ip }} ansible_user=ubuntu ansible_private_key_file=./private_key.pem" >> inventory.ini

      - name: Run Ansible playbook
        run: |
          ansible-playbook -i inventory.ini ansible/playbook.yml --ssh-extra-args='-o StrictHostKeyChecking=no'
